:root{
--main-bg-color: hsl(0, 50%, 95%);
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body{
  background-color: var(--main-bg-color);
  font-family: 'Roboto', sans-serif;
}

.body-wrapper{
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header{
  font-size: 3.8rem;
}

.counter{
  display: flex;
  flex-direction: column;
}

.counter__display{
  font-size: 6.2rem;
  text-align: center;
  color: red;
}

.counter__buttons{
  width:100%;
  display:flex;
  flex-direction: row;
  gap: 2rem;
}

.counter__button{
  font-size: 2rem;
  padding: .5rem 1rem;
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 10%;
}

.counter__button:hover{
  cursor: pointer;
}

.counter__button--decrease:hover{
  background-color: hsl(0, 50%, 75%)
}

.counter__button--increase:hover{
  background-color: hsl(210, 50%, 75%)
}

.counter__button--reset:hover{
  background-color: hsl(90, 50%, 75%)
}